<h3>All Comments</h3>
<% @comments.each do |comment| %>

  <ul class="stats">
    <li>By [User Name]</li>
    <li>Posted <%= pretty_date(comment.created_at) %></li>
    <li>[Link to Post]</li>
    <li>[Votes]</li>
  </ul>

  <div class="comment_body">
    <%= comment.body %>
  </div>

<% end %>