<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <title></title>
</head>
<body>
  <div class="container">
    <%= erb :_header %>
    <%= yield %>
  </div>
</body>
</html>
